.circlePose {
  width: 30vw;
  height: 30vw;
  background: #b0cbf3;
  transform-origin: 50% 50%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
}

@media only screen and (max-width: 800px) {
  .circlePose {
    width: 200px;
    height: 200px;
  }
}
