.circlePose {
  width: 500px;
  height: 500px;
  background: #b0cbf3;
  transform-origin: 50% 50%;
  border-radius: 50%;

  // position: absolute;
  // top: 50%;
  // left: 50%;
}

.test {
  color: red;
}
